.loader {
    border: 7px solid #cacaca; /* Light grey */
    border-top: 7px solid #228b22; /* Blue */
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vue-notification-template {
    padding: 20px 30px;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}
.vue-notification-template.success {
    background: #68cd86 !important;
}
.vue-notification-template.error {
    background: #e54d42 !important;
}
